@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sono', sans-serif;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 3vw 3vh 3vw;
    background-color: black;
}

main{
    padding: 3vw;
}

header > a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-weight: 900;
}

nav{
    display: flex;
    gap: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: large;
}

.item{
    background-color: white;
}


.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 0.75fr));
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.shop .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.shop .item button{
    width: 60%;
    padding: 3px;
    border-radius: 10px;
    font-weight: 900;
    border: none;
    background-color: black;
    color:white
}

.shop .item button:active{
    background-color: green;
}

.shop .item-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.shop .item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.shop .item-price{
    align-self: flex-end;
    font-weight: 900;
}

.shop .item img{
    width: 100px;
    height: 100px;
}


.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cart .items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    padding: 20px;
}

.cart .item{
    border-bottom: 1px solid black;
}

.cart .item,
.cart .item  .item-details{
    display: flex;
    align-items: center;
}

.cart .item .item-details{
    gap: 20px;
}

.cart .item {
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.cart .item .item-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.cart .item img{
    width: 100px;
    height: 100px;
}

.cart-item-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: black;
    color: white;
}

.cart-item-buttons button{
    color: white;
    padding: 5px;
    background-color: black;
    border: none;
}

.cart .minus-item:active{
    background-color: red;
}

.cart .plus-item:active{
    background-color: green;
}

.cart .item .item-price{
    font-weight: 900;
}

.checkout{
    background-color: black;
    padding: 30px;
    color: white;
}


.cart h1{
    margin-top: 20px;
}

.cart-total{
    font-weight: 900;
}